## California Housing Price Prediction

DESCRIPTION

Background of Problem Statement :

The US Census Bureau has published California Census Data which has 10 types of metrics such as the population, median income, median housing price, and so on for each block group in California. The dataset also serves as an input for project scoping and tries to specify the functional and nonfunctional requirements for it.

Problem Objective :

The project aims at building a model of housing prices to predict median house values in California using the provided dataset. This model should learn from the data and be able to predict the median housing price in any district, given all the other metrics.

Districts or block groups are the smallest geographical units for which the US Census Bureau
publishes sample data (a block group typically has a population of 600 to 3,000 people). There are 20,640 districts in the project dataset.

Domain: Finance and Housing

Analysis Tasks to be performed:

1. Build a model of housing prices to predict median house values in California using the provided dataset.

2. Train the model to learn from the data to predict the median housing price in any district, given all the other metrics.

3. Predict housing prices based on median_income and plot the regression chart for it.

1. Load the data :

Read the “housing.csv” file from the folder into the program.
Print first few rows of this data.
Extract input (X) and output (Y) data from the dataset.
2. Handle missing values :

Fill the missing values with the mean of the respective column.
3. Encode categorical data :

Convert categorical column in the dataset to numerical data.
4. Split the dataset : 

Split the data into 80% training dataset and 20% test dataset.
5. Standardize data :

Standardize training and test datasets.
6. Perform Linear Regression : 

Perform Linear Regression on training data.
Predict output for test dataset using the fitted model.
Print root mean squared error (RMSE) from Linear Regression.
            [ HINT: Import mean_squared_error from sklearn.metrics ]

7. Perform Decision Tree Regression :

Perform Decision Tree Regression on training data.
Predict output for test dataset using the fitted model.
Print root mean squared error from Decision Tree Regression.
8. Perform Random Forest Regression :

Perform Random Forest Regression on training data.
Predict output for test dataset using the fitted model.
Print RMSE (root mean squared error) from Random Forest Regression.
9. Bonus exercise: Perform Linear Regression with one independent variable :

Extract just the median_income column from the independent variables (from X_train and X_test).
Perform Linear Regression to predict housing values based on median_income.
Predict output for test dataset using the fitted model.
Plot the fitted model for training data as well as for test data to check if the fitted model satisfies the test data.
Dataset Description :

Field	Description
longitude	(signed numeric - float) : Longitude value for the block in California, USA
latitude	(numeric - float ) : Latitude value for the block in California, USA
housing_median_age	(numeric - int ) : Median age of the house in the block
total_rooms	(numeric - int ) : Count of the total number of rooms (excluding bedrooms) in all houses in the block
total_bedrooms	(numeric - float ) : Count of the total number of bedrooms in all houses in the block
population	(numeric - int ) : Count of the total number of population in the block
households	(numeric - int ) : Count of the total number of households in the block
median_income	(numeric - float ) : Median of the total household income of all the houses in the block
ocean_proximity	(numeric - categorical ) : Type of the landscape of the block [ Unique Values : 'NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'  ]
median_house_value	(numeric - int ) : Median of the household prices of all the houses in the block

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("1553768847_housing.xlsx")

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [5]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
median_house_value      0
dtype: int64

In [7]:
df.total_bedrooms = df.total_bedrooms.fillna(538.0)

In [8]:
df.total_bedrooms.isna().sum()

0

In [9]:
df.total_bedrooms

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
20635     374.0
20636     150.0
20637     485.0
20638     409.0
20639     616.0
Name: total_bedrooms, Length: 20640, dtype: float64

In [10]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [11]:
dummies = pd.get_dummies(df)

In [12]:
dummies.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,0,0,0,1,0
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,0,0,0,1,0
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,0,0,0,1,0
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,0,0,0,1,0
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,0,0,0,1,0

In [13]:
df.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924664,-0.108197,0.044568,0.069260,0.099773,0.055310,-0.015176,-0.045967
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.066659,-0.108785,-0.071035,-0.079809,-0.144160
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.318998,-0.296244,-0.302916,-0.119034,0.105623
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.927253,0.857126,0.918484,0.198050,0.134153
total_bedrooms,0.069260,-0.066659,-0.318998,0.927253,1.000000,0.873910,0.974725,-0.007682,0.049454
population,0.099773,-0.108785,-0.296244,0.857126,0.873910,1.000000,0.907222,0.004834,-0.024650
households,0.055310,-0.071035,-0.302916,0.918484,0.974725,0.907222,1.000000,0.013033,0.065843
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007682,0.004834,0.013033,1.000000,0.688075
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049454,-0.024650,0.065843,0.688075,1.000000

In [14]:
y = df.median_house_value
X= dummies.drop('median_house_value', axis=1)

In [15]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41,880,129.0,322,126,8.3252,0,0,0,1,0
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,0,0,0,1,0
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,0,0,0,1,0
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,0,0,0,1,0
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,0,0,0,1,0

In [16]:
y.head()

0    452600
1    358500
2    352100
3    341300
4    342200
Name: median_house_value, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=1234)

In [19]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(16512, 13)
(16512,)
(4128, 13)
(4128,)

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc = StandardScaler()

In [22]:
sc.fit(X_train, y_train)

StandardScaler()

In [23]:
X_train = sc.transform(X_train)

In [24]:
X_train

array([[-1.16323975,  0.78779092,  0.90718721, ..., -0.01740407,
        -0.3533727 , -0.38473623],
       [ 0.85676443, -0.72922058,  0.26954227, ..., -0.01740407,
        -0.3533727 , -0.38473623],
       [ 0.79676431, -0.74326698,  0.26954227, ..., -0.01740407,
        -0.3533727 , -0.38473623],
       ...,
       [ 0.62176394, -0.80413472,  0.34924789, ..., -0.01740407,
        -0.3533727 , -0.38473623],
       [-1.35324014,  0.86270507,  1.22600968, ..., -0.01740407,
        -0.3533727 ,  2.59918331],
       [-1.10323963,  1.10617605, -1.96221502, ..., -0.01740407,
        -0.3533727 , -0.38473623]])

In [25]:
X_test = sc.transform(X_test)

In [26]:
X_test

array([[-1.43824032,  1.01253337,  1.86365462, ..., -0.01740407,
         2.82987337, -0.38473623],
       [ 0.68176407, -0.69644564,  1.86365462, ..., -0.01740407,
        -0.3533727 , -0.38473623],
       [-1.43824032,  1.00785123,  1.22600968, ..., -0.01740407,
         2.82987337, -0.38473623],
       ...,
       [-0.40323818,  1.11554032,  0.11013104, ..., -0.01740407,
        -0.3533727 , -0.38473623],
       [-1.36324017,  1.04999044,  1.86365462, ..., -0.01740407,
         2.82987337, -0.38473623],
       [-0.14323764,  0.55368421, -1.08545322, ..., -0.01740407,
        -0.3533727 , -0.38473623]])

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
from sklearn.metrics import r2_score, mean_squared_error

In [29]:
lr = LinearRegression()

In [30]:
lr.fit(X_train, y_train)

LinearRegression()

In [31]:
x_pred = lr.predict(X_train)

In [32]:
r2_score(x_pred, y_train)

0.45386259655197214

In [33]:
mean_squared_error(x_pred, y_train, squared=False)

68472.70143362865

In [34]:
pred = lr.predict(X_test)

In [35]:
r2_score(y_test, pred)

0.6413452301677856

In [36]:
mean_squared_error(y_test, pred, squared=False)

69655.77979929787

In [37]:
from sklearn.tree import DecisionTreeRegressor

In [38]:
dt = DecisionTreeRegressor(criterion='mse',
    splitter='best',
    max_depth=15,
    min_samples_split=50,
    min_samples_leaf=2,
    min_weight_fraction_leaf=0.0,
    max_features=None,
    random_state=10,
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    min_impurity_split=None,
    ccp_alpha=0.0,)

In [39]:
dt.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=15, min_samples_leaf=2, min_samples_split=50,
                      random_state=10)

In [40]:
dt_pred = dt.predict(X_test)

In [41]:
r2_score(dt_pred, y_test)

0.6827431304652383

In [42]:
mean_squared_error(dt_pred, y_test, squared=False)

58911.289081843686

In [43]:
from sklearn.ensemble import RandomForestRegressor

In [44]:
rf = RandomForestRegressor(n_estimators=100,
    criterion='mse',
    max_depth=20,
    min_samples_split=2,
    min_samples_leaf=2,
    n_jobs=None,
    random_state=10,
    verbose=1,
    warm_start=True,)

In [45]:
rf.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    8.6s finished

RandomForestRegressor(max_depth=20, min_samples_leaf=2, random_state=10,
                      verbose=1, warm_start=True)

In [46]:
rf_pred = rf.predict(X_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [47]:
r2_score(rf_pred, y_test)

0.7589232242374742

In [48]:
mean_squared_error(rf_pred, y_test, squared=False)

49881.89203059953

In [49]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'median_house_value'],
      dtype='object')

In [50]:
X = df[['median_income']]

In [51]:
y = df[['median_house_value']]

In [52]:
X

       median_income
0             8.3252
1             8.3014
2             7.2574
3             5.6431
4             3.8462
...              ...
20635         1.5603
20636         2.5568
20637         1.7000
20638         1.8672
20639         2.3886

[20640 rows x 1 columns]

In [53]:
y

       median_house_value
0                  452600
1                  358500
2                  352100
3                  341300
4                  342200
...                   ...
20635               78100
20636               77100
20637               92300
20638               84700
20639               89400

[20640 rows x 1 columns]

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=15, shuffle=True)

In [55]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(16512, 1)
(16512, 1)
(4128, 1)
(4128, 1)

In [56]:
lr2 = LinearRegression()

In [57]:
lr2.fit(X_train, y_train)

LinearRegression()

In [58]:
prediction = lr2.predict(X_test)

In [59]:
r2_score(y_test, prediction)

0.45947645209341503

In [60]:
mean_squared_error(prediction, y_test, squared=False)

84778.38888590109